<template>
  <div  :style="'height: ' + height + 'px'">
    <v-dialog v-model="dialog" :fullscreen="phone" hide-overlay :width="phone ? '' : '50%'">
      <v-card flat>
        <v-card-actions style="padding: 0px;">
          <v-btn class="ma-2" text icon color="primary" @click="dialog = false">
            <v-icon>mdi-arrow-left</v-icon>
          </v-btn>
          <v-card-title>
            <span>プロフィールを編集</span>
          </v-card-title>
          <v-spacer />
          <v-btn rounded color="primary" @click="save">保存</v-btn>
        </v-card-actions>
        <v-divider />
        <v-img
          :style="profileHeader"
          class="black"
          :src="accountUpdateInfo.header"
          style="text-align: center;"
          @click="showOpenFileDialog('header')"
        >
          <v-btn text :style="phone ? 'padding-top: 75px;' : 'padding-top: 150px;'">
            <v-icon color="white">mdi-camera-plus</v-icon>
          </v-btn>
        </v-img>
        <v-card-text style="height: 100px; position: relative; margin-left: 30px;">
          <v-btn
          absolute
          fab
          top
          left
          @click="showOpenFileDialog('icon')"
          >
            <v-avatar :size="size / avatardiv">
              <v-img :src="accountUpdateInfo.icon">
              </v-img>
            </v-avatar>
          </v-btn>
        </v-card-text>
        <v-card-actions style="margin: 15px;">
          <v-text-field label="名前" v-model="accountUpdateInfo.name" outlined counter="30"></v-text-field>
        </v-card-actions>
        <v-card-actions style="margin: 15px;">
          <v-textarea label="自己紹介" no-resize v-model="accountUpdateInfo.bio" outlined counter="200" />
        </v-card-actions>
        <v-card-actions style="margin: 15px;">
          <v-text-field label="ウェブサイト" v-model="accountUpdateInfo.link" outlined></v-text-field>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-card class="mx-auto" flat>
      <v-img :src="account.header" :max-height="headerHeight" max-width="100%" style="background-color: #E0E0E0">
        <v-row align="end" class="fill-height">
          <v-col align-self="end" align="center" class="pa-0" cols="12">
            <v-avatar class="profile" color="grey" :size="size">
              <v-img :src="account.icon"></v-img>
            </v-avatar>
            <v-list-item color="rgba(0, 0, 0, .4)" dark>
              <v-list-item-content>
                <v-list-item-title class="title">{{account.name}}</v-list-item-title>
                <v-list-item-subtitle>@{{account.id}}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-col>
        </v-row>
      </v-img>
      <v-card-text>{{account.bio}}</v-card-text>
      <v-card-text>
        <a>{{account.link}}</a>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn color="primary" @click="dialog = true">プロフィール編集</v-btn>
      </v-card-actions>
    </v-card>
    <v-divider />
    <!--
    <div>
      <v-container>
        <v-row v-for="(item, key) in items" v-bind:key="key">
          <v-col cols="12">
            <v-card style="margin: 15px;">
              <v-card-title>{{item.title}}</v-card-title>
              <v-divider />
              <v-card-text>{{item.content}}</v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </div>
    -->
  </div>
</template>

<script>
import isMobile from "ismobilejs"
import post from '@/client/lib/post.js'

export default {
  created() {
    if (isMobile().phone) {
      this.size = 82
      this.phone = true
      this.profileHeader = "height: 150px;"
      this.avatardiv = 1.0
    }
    this.headerHeight = window.innerHeight / 2.5 + 'px'
    this.height = screen.height - this.$store.getters.getBarH
    post('/api/readProfile', {}).then(res => {
      this.account.name = res.data.Name
      this.account.id = res.data.UserID
      this.account.bio = res.data.Bio
      this.account.link = res.data.Link
      this.account.header = res.data.Header
      this.account.icon = res.data.Icon

      this.accountUpdateInfo = JSON.parse(JSON.stringify(this.account))

      console.log(this.accountUpdateInfo)
    })
  },
  components: {},
  data() {
    return {
      phone: false,
      size: 164,
      account: {
        name: "",
        id: "",
        bio: "",
        link: "",
        icon: '',
        header: ''
      },
      accountUpdateInfo: {},
      items: [
        /*
        {
          title: "test1",
          content: "test",
        },
        {
          title: "test2",
          content: "testtest",
        },
        {
          title: "test3",
          content: "testtesttest",
        },
        */
      ],
      profileHeader: "height: 300px",
      avatardiv: 1.5,
      dialog: false,
      height: 0,
      typ: '',
      headerHeight: 0,
    };
  },
  methods: {
    showOpenFileDialog(typ) {
      this.typ = typ
      const input = document.createElement('input')
      input.type = 'file';
      input.accept = 'image';
      input.onchange = evt => {
        let base64 = this.getBase64(evt.target.files[0])
        base64.then(res => {
          if(this.typ == 'icon') {
            this.accountUpdateInfo.icon = res
          } else if (this.typ == 'header') {
            this.accountUpdateInfo.header = res
          }
        })
      }
      input.click()
    },
    getBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.readAsDataURL(file)
        reader.onload = () => resolve(reader.result)
        reader.onerror = error => reject(error)
      })
    },
    save() {
      this.account = JSON.parse(JSON.stringify(this.accountUpdateInfo))
      this.dialog = false
      this.updateAccountProf()
    },
    updateAccountProf() {
      let obj = {
        Name: this.accountUpdateInfo.name,
        Bio: this.accountUpdateInfo.bio,
        Link: this.accountUpdateInfo.link
      }
      let iconext = this.accountUpdateInfo.icon.slice(this.accountUpdateInfo.icon.indexOf('/') + 1, this.accountUpdateInfo.icon.indexOf(';'))
      let headerext = this.accountUpdateInfo.header.slice(this.accountUpdateInfo.header.indexOf('/') + 1, this.accountUpdateInfo.header.indexOf(';'))
      this.accountUpdateInfo.icon = this.accountUpdateInfo.icon.slice(this.accountUpdateInfo.icon.indexOf(',') + 1)
      this.accountUpdateInfo.header = this.accountUpdateInfo.header.slice(this.accountUpdateInfo.header.indexOf(',') + 1)
      let params = new URLSearchParams()
      params.append('data', JSON.stringify(obj))
      params.append('icon', this.accountUpdateInfo.icon)
      params.append('header', this.accountUpdateInfo.header)
      params.append('iconext', iconext)
      params.append('headerext', headerext)
      post('/api/updateProf', params)
    }
  },
};
</script>