<template>
  <div>
    <v-dialog v-model="dialog">
      <v-card>
        <v-card-title>{{msg}}</v-card-title>
      </v-card>
    </v-dialog>
    <v-tabs
      v-model="tab"
      background-color="deep-purple accent-4"
      dark
    >
      <v-tab v-for="i in tabs" :key="i">
        {{ i }}
      </v-tab>
      
      <v-tab-item v-for="i in tabs" :key="i">
        <v-card tile v-if="i == 'login'">
          <form>
            <v-container fluid>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                  label="ID"
                  v-model="login.ID"
                  :rules="rules.id"
                  single-line
                  outlined
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                  label="Password"
                  v-model="login.password"
                  :rules="rules.password"
                  type="password"
                  single-line
                  outlined
                  ></v-text-field>
                </v-col>
              </v-row>
              <div style="text-align: right;">
                <v-btn class="primary" @click="loginproc">送信</v-btn>
              </div>
             </v-container>
          </form>
        </v-card>
        <v-card tile v-if="i == 'signup'">
          <form>
            <v-container fluid>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                  label="ID"
                  v-model="signup.ID"
                  :rules="rules.id"
                  single-line
                  outlined
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                  label="Password"
                  v-model="signup.password"
                  :rules="rules.password"
                  type="password"
                  single-line
                  outlined
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                  label="Mail"
                  v-model="signup.mail"
                  :rules="rules.mail"
                  single-line
                  outlined
                  ></v-text-field>
                </v-col>
              </v-row>
              <div style="text-align: right;">
                <v-btn class="primary" @click="signupproc">送信</v-btn>
              </div>
             </v-container>
          </form>
        </v-card>
      </v-tab-item>
    </v-tabs>
  </div>
</template>

<script>
import post from '@/client/lib/post.js'
  export default {
    data () {
      return {
        tab: null,
        tabs: ['login', 'signup'],
        login: {
          ID: '',
          password: ''
        },
        signup: {
          ID: '',
          password: '',
          mail: ''
        },
        rules: {
          id: [
            v => !!v || "ID is require",
            v => v.length > 2 || "ID is more than 3 characters",
            v => v.length < 30 || "ID is less than 30 characters"
          ],
          password: [
            v => !!v || "password is requires",
            v => v.length >= 8 || "password is more than 8 characters"
          ],
          mail: [
            v => !!v || 'E-mail is required',
            v => /.+@.+\..+/.test(v) || 'E-mail must be valid'
          ]
        },
        dialog: false,
        msg: ''
      }
    },
    methods: {
      loginproc() {
        let params = new URLSearchParams()
        params.set("userid", this.login.ID)
        params.set("password", this.login.password)
        if (this.login.ID.length > 2 && this.login.ID.length < 31 && this.login.password.length >= 8) { 
          post("/authapi/login", params).then(res => {
            if (res.data.result) {
              this.$store.commit('setID', this.login.ID)
              this.$router.push({ path: '/home'})
            }
          }).catch(() => {
            this.dialog = true
            this.msg = 'ログイン情報に不備があります。'
          })
        } else {
          this.dialog = true
          this.msg = '入力情報に不備があります。'
        }
      },
      signupproc() {
        let params = new URLSearchParams()
        params.set("userid", this.signup.ID)
        params.set("password", this.signup.password)
        params.set("mail", this.signup.mail)
        if (this.signup.ID.length > 2 && this.signup.ID.length < 31 && this.signup.password.length >= 8 && /.+@.+\..+/.test(this.signup.mail)) { 
          post("/authapi/signup", params).then(res => {
            if (res.data.result) {
              this.$store.commit('setID', this.signup.ID)
              this.$router.push({ path: '/home'})
            }
          }).catch(() => {
            this.dialog = true
            this.msg = 'ログイン情報に不備があります。'
          })
        } else {
          this.dialog = true
          this.msg = '入力情報に不備があります。'
        }
      }
    }
  }
</script>