<template> 
  <div>
    <v-img src="https://picsum.photos/510/300?random" :height="height" aspect-ratio="1.7">
      <v-container fluid style="margin-top: 30%">
        <v-row>
          <v-col :cols="empcol" />
          <v-col :cols="col">
            <login-form />
          </v-col>
        </v-row>
      </v-container>
    </v-img>
  </div>
</template>

<script>
import loginform from '@/client/components/body/loginform.vue'
import isMobile from 'ismobilejs'

export default {
  components: {
    'login-form': loginform
  },
  created() {
    if (isMobile().phone) {
      this.empcol = 3
      this.col = 9
    } else{
      this.empcol = 7
      this.col = 5
    }
  },
  mounted() {
    this.height = screen.height
  },
  data () {
    return {
      items: [
        {
          src: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg',
        },
        {
          src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg',
        },
        {
          src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg',
        },
        {
          src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg',
        },
      ],
      height: 500,
      empcol: 6,
      col: 6,
    }
  }
}

</script>