<template>
  <div>
    <!-- phone -->
    <v-dialog v-model="phonedialog" fullscreen>
      <v-card class="overflow-hidden mx-auto">
        <v-app-bar
          absolute
          dark
          tile
        >
          <v-btn icon @click="back" fab>
            <v-icon color="primary">mdi-arrow-left</v-icon>
          </v-btn>
            <span>{{opponent.name}}</span>
            <span style="padding: 5px; color: #CFD8DC;">@{{opponent.id}}</span>
          <v-spacer />
        </v-app-bar>
          <v-bottom-navigation
                scroll-target="#scrolling-phone"
                absolute
                v-if="opponent.id != ''"
                dark
              >
              <!--
              <v-btn fab>
                <v-icon>mdi-image</v-icon>
              </v-btn>
              <v-text-field
                dense
                flat
                outline
              >
                
              </v-text-field>
              -->
              <div style="width: 90%; position: relative; margin-left: 15px;">
                <v-text-field
                  style="bottom: 0; position: absolute; width: 100%;"
                  dense
                  flat
                  outline
                  no-resize
                  v-model="subject"
                ></v-text-field>
              </div>
              <v-spacer />
              <v-btn :disabled="submitted" @click="submit(opponent.id)" fab>
                <v-icon>mdi-send</v-icon>
              </v-btn>
              </v-bottom-navigation>
        <v-sheet
          id="scrolling-phone"
          class="overflow-y-auto"
          :max-height="scrollArea"
        >
        <v-list>
            <v-list-item v-for="(item, key) in opponent.contents" v-bind:key="key" :style="key == 0 ? 'margin-top: 50px; position: relative;' : 'margin-top: 10px; position: relative;'">
              <v-list-item-avatar style="position: absolute; bottom: 0;" v-if="item.id != id">
                <v-img v-bind:src="opponent.icon"></v-img>
              </v-list-item-avatar>
              <v-list-item-content style="margin-left: 45px;" v-if="item.id != id">
                <v-card color="blue-grey lighten-3" :id="item.tag" shaped max-width="80%">
                  <v-card-text>{{item.content}}</v-card-text>
                  <v-card-subtitle align="right">{{item.date}}</v-card-subtitle>
                </v-card>
              </v-list-item-content>
              <v-list-item-content v-else>
                <v-card
                  color="blue lighten-2"
                  style="margin: 0 0 0 auto;"
                  shazped
                  max-width="80%"
                  :id="item.tag"
                >
                  <v-card-text>{{item.content}}</v-card-text>
                  <v-card-subtitle align="right">{{item.date}}</v-card-subtitle>
                </v-card>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-sheet>
      </v-card>
    </v-dialog>
    <v-container fluid v-if="phone">
      <v-row>
        <v-col cols="12" style="padding: 0px">
          <v-card flat ref="searchbox" >
            <v-card-actions>
              <v-autocomplete
                v-model="select"
                :loading="loading"
                :items="opponents"
                :search-input.sync="search"
                cache-items
                item-text="name"
                @change="setID"
                class="mx-4"
                flat
                hide-no-data
                hide-details
                label="ユーザを検索"
                solo-inverted
              >
                <template v-slot:item="data">
                  <v-list-item-avatar>
                    <img v-bind:src="data.item.icon">
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title v-html="data.item.name"></v-list-item-title>
                    <v-list-item-subtitle v-html="'@' + data.item.id"></v-list-item-subtitle>
                  </v-list-item-content>
                </template>
              </v-autocomplete>
            </v-card-actions>
          </v-card>
          <v-divider />
        </v-col>
        <v-col cols="12" style="padding: 0px">
          <v-card flat tile outlined :style="'height: ' + listArea">
            <v-sheet
              id="scrolling-phone"
              class="overflow-y-auto"
              :max-height="listArea"
            >
            <v-list style="padding: 0">
              <v-list-item v-for="(item, key) in talkopponents" v-bind:key="key" @click="setItem(item)">
                <v-list-item-avatar>
                  <v-img :src="item.icon"></v-img>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>
                    {{item.name}}
                    <span style="color: #B0BEC5">@{{item.id}}</span>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-divider />
            </v-list>
            </v-sheet>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <!-- pc -->
    <v-container fluid style="padding: 0;" v-else>
      <v-row no-gutters>
        <v-col cols="4" ref="title">
          <v-card flat tile>
            <v-card-title>メッセージ</v-card-title>
            <v-card-subtitle></v-card-subtitle>
          </v-card>
        </v-col>
        <v-col cols="8">
          <v-card flat tile outlined>
            <v-card-title>{{opponent.name}}</v-card-title>
            <v-card-subtitle v-if="opponent.name != 'メッセージ'">@{{opponent.id}}</v-card-subtitle>
          </v-card>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col cols="4">
          <v-card flat tile outlined ref="searchbox">
            <v-card-actions>
              <v-autocomplete
                v-model="select"
                :loading="loading"
                :items="opponents"
                :search-input.sync="search"
                cache-items
                item-text="name"
                @change="setID"
                class="mx-4"
                flat
                hide-no-data
                hide-details
                label="ユーザを検索"
                solo-inverted
              >
                <template v-slot:item="data">
                  <v-list-item-avatar>
                    <img v-bind:src="data.item.icon">
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title v-html="data.item.name"></v-list-item-title>
                    <v-list-item-subtitle v-html="'@' + data.item.id"></v-list-item-subtitle>
                  </v-list-item-content>
                </template>
              </v-autocomplete>
              <!--
              <v-autocomplete label="ユーザを検索"
              :items="opponents"
              item-text="name"
              @change="setID"
              :search-input.sync="search"
              >
                <template v-slot:item="data">
                  <v-list-item-avatar>
                    <img :src="data.item.icon">
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title v-html="data.item.name"></v-list-item-title>
                    <v-list-item-subtitle v-html="'@' + data.item.id"></v-list-item-subtitle>
                  </v-list-item-content>
                </template>
              </v-autocomplete>
              -->
            </v-card-actions>
          </v-card>
          <v-card flat tile outlined>
            <v-sheet class="overflow-y-auto" :max-height="listArea">
              <v-list style="padding: 0;">
                <v-list-item v-for="(item, key) in talkopponents" v-bind:key="key" @click="setItem(item)">
                  <v-list-item-avatar>
                    <v-img v-bind:src="item.icon"></v-img>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title>
                      {{item.name}}
                      <span style="color: #B0BEC5">@{{item.id}}</span>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-sheet>
          </v-card>
        </v-col>
        <v-col cols="8">
          <v-card flat tile outlined :style="'height: ' + talkArea" class="overflow-hidden mx-auto">
              <v-bottom-navigation
                scroll-target="#scrolling-pc"
                absolute
                v-if="opponent.id != ''"
                dark
              >
              <div style="width: 90%; position: relative; margin-left: 15px;">
                <v-text-field
                  style="bottom: 0; position: absolute; width: 100%;"
                  dense
                  flat
                  outline
                  no-resize
                  v-model="subject"
                ></v-text-field>
              </div>
              <v-spacer />
              <v-btn :disabled="submitted" @click="submit(opponent.id)" fab>
                <v-icon>mdi-send</v-icon>
              </v-btn>
              </v-bottom-navigation>
            <v-sheet
              id="scrolling-pc"
              class="overflow-y-auto"
              :max-height="talkArea"
            >
              <v-list>
                <v-list-item v-for="(item, key) in opponent.contents" v-bind:key="key" :style="key == 0 ? 'position: relative; margin-top: 10px;' : key == opponent.contents.length - 1 ? 'position: relative; margin-bottom: 50px;' : 'position: relative; margin-bottom: 0px;'">
                  <v-list-item-avatar style="position: absolute; bottom: 0;" v-if="item.id != id">
                    <v-img v-bind:src="opponent.icon"></v-img>
                  </v-list-item-avatar>
                  <v-list-item-content style="margin-left: 45px;" v-if="item.id != id">
                    <v-card color="blue-grey lighten-3" :id="item.tag" shaped max-width="80%">
                      <v-card-text style="padding: 8px;">{{item.content}}</v-card-text>
                      <v-card-subtitle style="padding: 8px;" align="right">{{item.date}}</v-card-subtitle>
                    </v-card>
                  </v-list-item-content>
                  <v-list-item-content v-else>
                    <v-card
                      color="blue lighten-2"
                      style="margin: 0 0 0 auto;"
                      shazped
                      max-width="80%"
                      :id="item.tag"
                    >
                      <v-card-text>{{item.content}}</v-card-text>
                      <v-card-subtitle align="right">{{item.date}}</v-card-subtitle>
                    </v-card>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-sheet>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import isMobile from "ismobilejs"
import post from '@/client/lib/post.js'

export default {
  components: {},
  created() {
    if (isMobile().phone) {
      this.phone = true;
    }
    post('/api/getUserid', {}).then(idres => {
      this.id = idres.data
    })
    post('/api/readOpponents', {}).then(res => {
      if (res.data !== null) {
        this.talkopponents = this.opponents
        for(let i = 0;i < res.data.length; i++) {
          let obj = {
            icon: "data:image/" + res.data[i].Ext + ";base64," + res.data[i].Icon,
            name: res.data[i].Name,
            id: res.data[i].OpponentID,
            contents: []
          }
          this.opponents.push(obj)
        }
      }
    })
  },
  mounted() {
    this.height = screen.height;
    if (!this.phone) {
      this.talkArea = window.innerHeight - (this.$refs.title.clientHeight + this.$store.getters.getBarH) + "px"
      this.listArea = window.innerHeight - (this.$refs.title.clientHeight + this.$refs.searchbox.$el.clientHeight + this.$store.getters.getBarH + 3) + "px"
      this.rootTitleH = this.$refs.title.clientHeight
    } else {
      this.listArea = window.innerHeight - (this.$refs.searchbox.$el.clientHeight + this.$store.getters.getBarH) + "px"
      this.scrollArea = window.innerHeight - this.$store.getters.getBarH + 'px'
    }
    this.rootSearchH = this.$refs.searchbox.$el.clientHeight
  },
  updated() {
    if(this.opponent.contents.length - 1 >= 0 && this.subject == '' && !this.phone) {
      let elm = document.createElement("a")
      elm.href = "#num" + (this.opponent.contents.length - 1)
      elm.click()
    }else if(this.opponent.contents.length - 1 >= 0 && this.subject == '' && this.phone){
      let elm = document.createElement("a")
      elm.href = "#num" + (this.opponent.contents.length - 1)
      elm.click()
    }
   },
  watch: {
    opponent(nv, ov) {
      if(nv.contents.length > 0 && ov.id != '' && !this.phone) {
        this.talkArea = window.innerHeight - (this.$refs.title.clientHeight + this.$store.getters.getBarH) + "px"
        this.listArea = window.innerHeight - (this.$refs.title.clientHeight + this.$refs.searchbox.$el.clientHeight + this.$store.getters.getBarH + 3) + "px"
      } else if (ov.id == '' && !this.phone) {
        this.talkArea = window.innerHeight - (this.$refs.title.clientHeight + this.$store.getters.getBarH + 20) + "px"
        this.listArea = window.innerHeight - (this.$refs.title.clientHeight + this.$refs.searchbox.$el.clientHeight + this.$store.getters.getBarH + 23) + "px"
      }
    },
    search (v) {
      if (v !== null) {
        if (v.length !== 0) {
          this.loading = true
          let param = new URLSearchParams()
          param.set('opponent', v)
          post('/api/readUser', param).then(res => {
            this.opponents = []
            if (res.data.length !== null) { 
              for(let i = 0;i < res.data.length; i++) {
                let obj = {
                  id: res.data[i].ID,
                  icon: "data:image/" + res.data[i].Ext + ";base64," + res.data[i].Icon,
                  name: res.data[i].Name,
                  contents: []
                }
                this.opponents.push(obj)
              }
            }
            console.log(this.opponents)
            this.loading = false
          })
        }
      } else {
        this.opponents = []
      }
    },
    subject (val) {
      if (val.length > 0) {
        this.submitted = false
      }else{
        this.submitted = true
      }
    }
  },
  data() {
    return {
      rootTitleH: 0,
      rootSearchH: 0,
      phone: false,
      phonedialog: false,
      id: '',
      opponent: {
        name: "メッセージ",
        id: "",
        contents: [],
      },
      talkopponents: [],
      opponents: [],
      talkArea: "100%",
      listArea: "100%",
      scrollArea: '100%',
      subject: '',
      loading: false,
      select: null,
      ws: null,
      submitted: true,
      search: ''
    };
  },
  methods: {
    setItem(item) {
      if (this.phone) {
        this.phonedialog = true
      }
      this.opponent = item
      this.openWS()
      this.readUserChat(item.id)
    },
    setID(id) {
      this.select = ''
      this.search = null
      for(let i = 0; i < this.opponents.length; i++) {
        if(id === this.opponents[i].id) {
          this.opponent = this.opponents[i]
          if(!this.talkopponents.includes(this.opponent)) {
            this.talkopponents.push(this.opponent)
          }
        }
      }
    },
    submit(opponentid) {
      this.submitted = true
      let date = new Date()
      let year = date.getFullYear()
      let month = date.getMonth()
      let day = date.getDate()
      let hour = date.getHours()
      let min = date.getMinutes()
      let obj = {
        type: 'chat',
        opponentid: opponentid,
        id: this.id,
        content: this.subject,
        date: year + '/' + month + '/' + day + ' ' + hour + ':' + min
      }
      this.postData(obj)
      this.subject = ''
      this.submitted = false
    },
    back() {
      this.phonedialog = false
      this.opponent =  {
        name: "メッセージ",
        id: "",
        contents: [],
      }
      this.ws.close()
    },
    openWS() {
      if (this.ws !== null) {
        this.ws.close()
      }
      let url = 'ws://' + window.location.host + '/api/chatws'
      this.ws = new WebSocket(url)
      this.ws.onopen = () => {
        let obj = {
          type: 'open',
          opponentid: this.opponent.id,
          userid: this.id
        }
        let jsonStr = JSON.stringify(obj)
        this.ws.send(jsonStr)
      }
      this.ws.onmessage = (msg) => {
        let obj = JSON.parse(msg.data)
        this.opponent.contents.push(obj)
        this.unckerlink(obj.tag)
      }
      this.ws.onclose = () => { }
    },
    postData(obj) {
      let jsonObj = JSON.stringify(obj)
      this.ws.send(jsonObj)
      this.subject = ''
    },
    unckerlink(tag) {
      if(this.opponent.contents.length - 1 >= 0 && this.subject == '' && !this.phone) {
        let elm = document.createElement("a")
        elm.href = '#' + tag
        elm.click()
        elm.href = "#talk"
        elm.click()
      }else if(this.opponent.contents.length - 1 >= 0 && this.subject == '' && this.phone){
        let elm = document.createElement("a")
        elm.href = '#' +  tag
        elm.click()
      }
    },
    querySelections (v) {
      this.loading = true
      let param = new URLSearchParams()
      param.set('opponent', v)
      post('/api/readUser', param).then(res => {
        this.opponents = []
        if (res.data.length !== undefined) { 
          for(let i = 0;i < res.data.length; i++) {
            let obj = {
              id: res.data[i].ID,
              icon: "data:image/" + res.data[i].Ext + ";base64," + res.data[i].Icon,
              name: res.data[i].Name,
              contents: []
            }
            this.opponents.push(obj)
          }
        }
      })
    },
    readUserChat(opponentid) {
      let params = new URLSearchParams()
      params.append('opponentid', opponentid)
      this.opponent.contents = []
      post('/api/readChat', params).then(res => {
        if (res.data !== null) {
          for(let i = 0; i < res.data.length; i++) {
            let obj = {
              id: res.data[i].UserID,
              content: res.data[i].Content,
              date: res.data[i].Date,
              tag: 'num' + i
            }
            this.opponent.contents.push(obj)
          }
        }
      })
    }
  },
};
</script>