<template>
  <div :height="height">
    <v-card
      tile
      class="overflow-hidden"
    >
      <v-app-bar
        color="dark"
        dark
        ref="bar"
        absolute
        elevate-on-scroll
        scroll-target="#scrolling-techniques-7"
      >
        <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>

        <v-toolbar-title>JaT</v-toolbar-title>
      </v-app-bar>
      <v-sheet
      id="scrolling-techniques-7"
      class="overflow-y-auto"
      >
        <v-container fluid style="padding: 0px;">
          <v-layout
              v-scroll:#scroll-target="onScroll"
              column
            >
            <div :is="contentComponent" ref="content"/>
          </v-layout>
        </v-container>
      </v-sheet>

      <v-navigation-drawer
        v-model="drawer"
        absolute
        temporary
      >
        <v-list
          nav
          dense
        >
          <v-list-item-group
            active-class="text--accent-4"
          >
            <v-list-item v-for="item in items" v-bind:key="item.id" @click="redirect(item.link)">
              <v-list-item-icon>
                <v-icon>{{item.icon}}</v-icon>
              </v-list-item-icon>
              <v-list-item-title>{{item.label}}</v-list-item-title>
            </v-list-item>

          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>
    </v-card>
  </div>
</template>

<script>
import headerItem from '@/client/lib/headerItem.js'
import isMobile from 'ismobilejs'
import post from '@/client/lib/post.js'

export default {
  created() {
    this.drawerheight = screen.height
    // ログイン処理
    post('/api/getAuth', {}).then(res => {
      this.items = headerItem(res.data)
    })
  },
  props: {
    'contentComponent': {}
  },
  mounted() {
    if (isMobile().phone) {
      this.height = this.drawerheight
    } else {
      this.height = this.drawerheight - this.$refs.bar.styles.height.replace('px', '')
    }
    this.$refs.content.$el.style.marginTop = this.$refs.bar.styles.height
    this.$store.commit('setH', parseInt(this.$refs.bar.styles.height.replace('px', '')))
  },
  data: () => ({
    height: 500,
    drawerheight: 500,
    drawer: false,
    items: [
      {
        icon: 'mdi-home',
        label: 'Home'
      },
      {
        icon: 'mdi-account',
        label: 'Account'
      },
      {
        icon: 'mdi-message',
        label: 'talk'
      }
    ]
  }),
  methods: {
    redirect(link) {
      if (link != 'logout') {
        this.$router.push({path: link })
      } else {
        post('/logout', {}).then(() => {
          this.$store.commit('logout')
          this.$router.push({path: '/login' })
        })
      }
    },
    onScroll (e) {
      this.offsetTop = e.target.scrollTop
    }
  }
}
</script>