<template>
  <div>
    <home-header :content-component="loginbody" />
  </div>
</template>


<script>
import header from '@/client/components/appbar.vue'
import body from '@/client/components/body/home.vue'

export default {
  components: {
    'home-header': header
  },
  data() {
    return {
      loginbody: body
    }
  }
}

</script>