<template>
  <div>
    <login-header :content-component="loginbody" />
  </div>
</template>


<script>
import header from '@/client/components/appbar.vue'
import body from '@/client/components/body/login.vue'

export default {
  components: {
    'login-header': header
  },
  data() {
    return {
      loginbody: body
    }
  }
}

</script>